<div class="rails-default-about-page">
  <h1>Полный список вопросов</h1>
  <div>
    <%if @test.questions.present?%>
      <table  class="table">
        <%= render 'shared/question'%>
      </table>
    <%else %>

      <p> Для данного теста вопросов не создано </p>
      <ul class="head_button3">
      <%=button_to "Назад", tests_path(@test), method: :get, :class=> "button_to2"%>
      </ul>
    <%end%>
  </div>
</div>