<div class="rails-default-about-page">
  <h1> Тест <%= @test_passage.test.title %> завершен! </h1>
  <%= test_passage_message(@test_passage) %>
  <ul class="head_button1" style="width: 30%; position:sticky; margin-left: 28%; margin-bottom: 8%; margin-top: 2%">
    <ul><%=button_to "Назад", root_path, method: :get, :class=>"button_to2"%></ul>
  </ul>
</div>
