<div class="container mt-5 bg-secondary-subtle" style="width: 86%; margin: 0 auto; padding-top: 7%; ">

  <h1 class="fw-bold text-uppercase d-flex align-items-center justify-content-center" style="margin-top: 7%; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: #333;"> <%= t('.header', title: @test_passage.test.title) %> </h1>
  <%= test_passage_message_helper(@test_passage) %>

  <div class="row">
    <div class="col-md-6 mb-3 text-md-start">
      <%= link_to t('atributes.test.button_to.back'), root_url, class: "btn btn-outline-light" %>
    </div>
  </div>
</div>