<%if resource.errors.present? %>
    <div class="error_message">
      <br><br>
  <div>
    <h4>Найдено ошибок: <%=pluralize(resource.errors.count, '')%></h4>
    <p>
      <%resource.errors.full_messages.each do |message| %>
        <li><%=message %></li>
      <%end %>
    </p>
  </div>
      <br><br>
    </div>
<% end %>
