/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


h1 {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: normal;
    font-style: italic;
    font-family: 'William', serif;
    margin: 2% 0 4% 0;
    padding-top: 34px;
    color: white;
}

h2 {
    margin-top: 0;
    font-size: 30px;
    text-transform: uppercase;
    font-family: 'Inter', sans-serif;
    margin-bottom: 24px;
    color: white;
}

h3 {
    font-size: 15px;
    text-transform: uppercase;
    font-family: 'William', serif;
    margin: 5px 5px 5px 10vh;
    line-height: 18px;
    font-weight: normal;
    color: white;
    text-align: left !important;
}

p {
    font-family: 'Inter', sans-serif;
    text-align: center;
}


.rails-default-about-page {
    background-color: mediumaquamarine;
    width: 50%;
    height: auto;
    text-align: center;
    font-family: arial, sans-serif;
    margin: 0 0 0 25%;
    overflow: auto
}

.field {
    text-align:right;
    margin: 0 0 0 15%;
}

.field2 {
    margin:0 0 0 18%;
    float: left;
    line-height: 10px;
    text-align: center;
}


.main {
    float:left;
    width: 80%;
}

label {
    float:left;
    padding-right:10px;
    padding-left: 40px;
}

.form {
    margin: 0 0 0 10%;
}

input {
    font: inherit;
    color: inherit;
    text-align: center;
}

.textarea {
    line-height: inherit;
    font: inherit;
    color: inherit;
    text-align: center;
}

.table {
    border-collapse: collapse;
    margin: 0 auto;
    width: 90%;
    border: 0.2px solid #333030;
}

td, th {
    border: solid 1px #000;
    padding: 5px;
    text-align: left; /* Выравнивание по левому краю */
    font-weight: lighter;
}

.button_to1 {
    text-align: -moz-center;
    text-indent: -10%;
    width: 100%;
}
.button_to2 {
    width: 12pc
}

.button_to3{
    margin:  10% 0 10% 8%;
}

.head_button {
    background: none;
    display: flex;
    justify-content: space-between;
    margin: 10% 20% 2% -2%;
    width: 80%;
}
.head_button2 {
    background: none;
    display: flex;
    justify-content: space-between;
    margin: 10% 20% 2% 10%;
    width: 80%;
}
.collection_select {
    width: 80.5%;
    height: 23px;
    word-break: break-all;
}

.error_message {
    color: #ab1717;
    background: lightcoral;
    width: 80%;
    align-content: center;
    margin: 5% 0 5% 10%
}

input[type="text" i] {
    padding: 1px 2px;
    float: left;
}

input[type="submit"] {
    border-radius: 25px;
    padding-inline-start: 2%;
    line-height: inherit;
}



