.nav.user{
  text-align: right;
}

.nav.nav-admin{
  background: #666666;
}

.nav.nav-admin-table-lk {
  border: 1px solid transparent !important;
  margin: 0 auto;
  width: 90%;
}

.nav.table_lk {
  border-collapse: collapse;
  margin: 0 auto;
  width: 90%;
}

.nav.lk1_admin {
  border: 1px solid transparent !important;
}

.nav.title_text {
  font-size: 14px;
  font-weight: bold;
  color: white;
}