<div class="container mt-5 bg-primary-subtle p-4 text-center" style="width: 86%; margin: 0 auto;">
  <h1 class="fw-bold text-uppercase d-flex align-items-center justify-content-center" style="margin-top: 7%; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: #333;"><%= t('helpers.submit.test.create') %></h1>
  <%= render 'shared/errors', resource: @test %>
  <%= render 'form' %>
</div>
